# Version Control
.git
.github
.gitignore

# IDEs
.idea
.vscode
*.iml

# Maven outputs
target/
**/target/

# Local Python Environments
*.venv
venv
.env
__pycache__

# Javadoc and Docs
javadoc/
docs/

# Terraform
terraform/
.terraform/

# Large temporary/data files
test_ffm.txt
*.log
*.zip
*.tar.gz
*.tmp

# Miscellaneous local dev
k8s/
monitoring/
tools/
