target/
*.class
*.log
*.jar
*.war
*.ear
*.iml
.idea/
.settings/
.classpath
.project
.vscode/
*.swp
*.swo
*~
.DS_Store
z _ a n a t o m y _ s o u r c e /  
 Z - A n a t o m y - P C - V e r s i o n . z i p  
 Z - A n a t o m y - P C - V e r s i o n . z i p  
 z _ a n a t o m y _ s o u r c e /  
 

!libs/mpi.jar
!libs/mpj.jar
!libs/MPJ/lib/*.jar
!launchers/packaged/**/*.jar
!episteme-natural/lib/fbx_loader/*.jar

# Certificates
certs/*.key
certs/*.pem
certs/*.srl

# Large Data & Reports
*.h5
*.pdf
benchmark-results.json

