target/
*.class
*.log
*.jar
*.war
*.ear
*.iml
.idea/
.settings/
.classpath
.project
.vscode/
*.swp
*.swo
*~
.DS_Store
z _ a n a t o m y _ s o u r c e /  
 Z - A n a t o m y - P C - V e r s i o n . z i p  
 Z - A n a t o m y - P C - V e r s i o n . z i p  
 z _ a n a t o m y _ s o u r c e /  
 

!libs/MPJ/lib/*.jar
!launchers/packaged/**/*.jar
